:root {
    --grey-text: #909090;
    --btn-color: #FFB410;
    --border-color: #ddd;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #f9fafb;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-bottom: 50px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.catalog__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.catalog__panel h2 {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 54;
}

.header h3 {
    margin: 0;
}

.cart__btn {
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 16px;
}